---
import type { IntroLayout, IntroContent, TrailerContent } from '@landing/env'

import { Icon } from 'astro-icon/components'

import TrailerBtn from '@landing/components/ui/TrailerBtn.svelte'
import StoreList from '@landing/components/ui/StoreList.astro'

interface Props extends IntroLayout {
  statics: IntroContent
  trailerStatics: TrailerContent
}

const { id, statics, trailerStatics } = Astro.props
const charactersList = Object.entries(statics.charactersImg)
---

<section class="container container--intro intro">
  <article class="intro__hero">
    <div id={id[0]} class="intro__hero-wrapper">
      <picture class="bg bg--intro" aria-hidden="true">
        <source srcset="/assets/backgrounds/WindowScreen_BG.avif" type="image/avif">
        <img
          src="/assets/backgrounds/WindowScreen_BG.webp"
          class="bg__image"
          decoding="async"
          fetchpriority="high"
          alt=""
        />
      </picture>
  
      <div>
        <picture>
    
        </picture>
  
        <h1 class="intro__title">{statics.title}</h1>
      </div>
  
      {charactersList.map(([key, { avif, webp, alt }]) => (
        <picture class={`intro__character intro__character--${key}`}>
          <source srcset={avif} type="image/avif" />
          <img
            src={webp}
            decoding="async"
            fetchpriority="high"
            class="intro__character-image"
            alt={alt}
          />
        </picture>
      ))}
    </div>
  </article>

  <StoreList storeList={statics.storeList} />

  <article id={id[1]} class="intro__trailer">
    <TrailerBtn trailerStatics={trailerStatics} client:visible>
      <Icon name="player-play" size="32" />
    </TrailerBtn>
  </article>
</section>

<style is:global>
  @import url('../../styles/intro.css');
</style>
