---
import type { IntroLayout, IntroContent, TrailerContent } from '@landing/env'

import { Icon } from 'astro-icon/components'

import Trailer from '@landing/components/ui/Trailer.svelte'
import TrailerBtn from '@landing/components/ui/TrailerBtn.svelte'
import StoreList from '@landing/components/ui/StoreList.astro'

interface Props extends IntroLayout<IntroContent> {
  trailerStatics: TrailerContent
}

const { id, statics, trailerStatics } = Astro.props
const charactersList = Object.entries(statics.charactersImg)
---

<section class="container container--intro intro">
  <article class="intro__hero">
    <div id={id[0]} class="intro__hero-wrapper">
      <picture class="bg bg--intro" aria-hidden="true">
        <source srcset="/assets/backgrounds/WindowScreen_BG.avif" type="image/avif">
        <img
          src="/assets/backgrounds/WindowScreen_BG.webp"
          class="bg__image"
          decoding="async"
          fetchpriority="high"
          alt=""
        />
      </picture>

      <div class="intro__logo-wrapper">
        <picture>
          <source srcset={`${statics.logoImg.src}.avif`} type="image/avif">
          <img
            src={`${statics.logoImg.src}.webp`}
            class="intro__logo"
            decoding="async"
            fetchpriority="high"
            alt={statics.logoImg.alt}
          />
        </picture>
  
        <h1 class="intro__title" set:html={statics.title} />
      </div>

      {charactersList.map(([key, { src, alt }]) => (
        <picture class={`intro__character intro__character--${key}`}>
          <source srcset={`${src}.avif`} type="image/avif" />
          <img
            src={`${src}.webp`}
            decoding="async"
            fetchpriority="high"
            class="intro__character-image"
            alt={alt}
          />
        </picture>
      ))}
    </div>
  </article>

  <StoreList storeList={statics.storeList} />

  <article id={id[1]} class="intro__trailer">
    <Trailer trailerStatics={trailerStatics} client:only="svelte">
      <Icon name="x" size="42" class="dokibtn--trailer-x" />
    </Trailer>

    <TrailerBtn trailerStatics={trailerStatics} client:visible>
      <Icon name="player-play" size="32" />
    </TrailerBtn>
  </article>
</section>

<style is:global>
  @import url('../../styles/intro.css');
</style>
