---
import type { SectionLayout, ReviewsContent } from '@landing/env'

import { Icon } from 'astro-icon/components'

type Props = SectionLayout<ReviewsContent> 

const { id, statics } = Astro.props
const duplicatedList = [...statics.reviewList, ...statics.reviewList]
---

<section id={id} class="container container--fit-h reviews">
  <h2 class="reviews__title">{statics.title}</h2>
  <p class="reviews__body">{statics.body}</p>

  <swiper-container init="false" class="reviews__swiper">
    {duplicatedList.map(({ icon, text, ...sizes }) => (
      <swiper-slide class="reviews__slide">
        <p class="reviews__quote">"</p>

        <div class="reviews__review-wrapper">
          <p class="reviews__review">{text}</p>

          <Icon name={icon} {...sizes} />
        </div>
      </swiper-slide>
    ))}
  </swiper-container>
</section>

<script>
  import { register, type SwiperContainer } from 'swiper/element/bundle'
  import { $ } from '@shared/utils/dom-selector'

  register()

  const swiper = $('swiper-container') as SwiperContainer

  const swiperParams = {
    autoplay: {
      pauseOnMouseEnter: true,
      delay: 2000
    },
    slidesPerView: 'auto',
    speed: 1500,
    loop: true,
    grabCursor: true,
    centeredSlides: true
  }

  Object.assign(swiper, swiperParams)
  swiper.initialize()
</script>

<style>
  @import url('../../styles/reviews.css'); 
</style>
