---
import type { SectionLayout, ReviewsContent } from '@landing/env'

import { Icon } from 'astro-icon/components'

type Props = SectionLayout<ReviewsContent> 

const { id, statics } = Astro.props
const duplicatedList = [...statics.reviewList, ...statics.reviewList]
---

<section id={id} class="container container--fit-h reviews">
  <h2 class="reviews__title">{statics.title}</h2>
  <p class="reviews__body">{statics.body}</p>

  <div class="embla">
    <div class="embla__container">
      {duplicatedList.map(({ icon, text, ...sizes }) => (
        <div class="embla__slide">
          <p class="reviews__quote">"</p>

          <div class="reviews__review-wrapper">
            <p class="reviews__review">{text}</p>

            <Icon name={icon} {...sizes} />
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<script>
  import type { EmblaOptionsType } from 'embla-carousel'
  import EmblaCarousel from 'embla-carousel'
  import Autoplay from 'embla-carousel-autoplay'
  import { $ } from '@shared/utils/dom-selector'

  const swiper = $('.embla') as HTMLElement

  const plugins = [Autoplay({ delay: 3500, stopOnInteraction: false, stopOnMouseEnter: true })]

  const options: EmblaOptionsType = { loop: true, duration: 35 }

  EmblaCarousel(swiper, options, plugins)
</script>

<style>
  @import url('../../styles/reviews.css'); 
</style>
